<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Create Pins</h1>

<form method="POST">
    <input type="hidden" name="_token" value="{{csrf_token('pins.create')}}">
    <div>
        <label for="title">Title</label><br>
        <input type="text" id="title" name="title" required/>
    </div>
    <div>
        <label for="description">description</label><br>
        <textarea id="description" name="description" rows="5" cols="60" required></textarea>
    </div>

    <input type="submit" value="Create Pin">
</form>
</body>
</html>