<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <h1>Create Pins</h1>
    {{ form_start(monFormulaire)}}
    {{ form_widget(monFormulaire)}}
    <input type="submit" value="Create Pin">
    {{ form_end(monFormulaire)}}
</body>
</html>