<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>
		<a href="{{path('app_pins_create')}}">Create Pin</a>

		{% for pin in pins %}
		<article>
			<h1>{{pin.getTitle()}}</h1>
			<p>{{pin.getDescription()}}</p>
		</article>
		{% endfor %}
	</h1>
</body>
</html>